@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2? family= Arquivo & family= Nova+Mono & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Gochi+Hand&display=swap');

header{
    font-family:'Gochi Hand', cursive;
    background-color: black;
    padding: 20px;
    width: 100%;
    height: 200px;
    color: white;
}
header h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
}
header p {
    text-align: center;
    font-size: 1.3rem;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.eventos{
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 15px;
    margin: 25px 0px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    
}
.eventos h2 {
    margin-bottom: 10px;
}

#data{
    display: flex;
    justify-content: space-around;
     
}

.eventos img {
    width: 600px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.eventos p{
    font-size: 1.2rem;
}
@media(max-width: 700px){
    .eventos{
        width: 90%;
        
    }
    .eventos img {
        width: 90%;
    }
    header {
        height: 280px;
    }
    header h1{
        font-size: 2rem;
    }
    header p{
        font-size: 1.2rem;
    }
    #dvslider{
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 400px;
        background-repeat: no-repeat;
    }
    #dvload{
        width: 100%;
        height: 10px;
        margin-top: 5%;
        border:  1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    #dvbarra{
        margin-top: 0%;
        width: 100%;
        height: 100%;
        background-color: blue;
        border-radius: 8px;
       }
       .btslider{
        height: 40%;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        font-size: 30px;
        cursor: pointer;
        outline: none;
        border-radius: 10px;
        margin-top: 30%;

       }
}
