@charset "UTF-8";
* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2? family= Arquivo & family= Nova+Mono & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Gochi+Hand&display=swap');


section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#telaSmart{
    width: 550px;
    font-family: 'DM Mono' monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    padding: 1rem;
    border-radius: 20px;
    background: #111;
    color: cyan;
    text-align: center;
    font-size: 1rem;
    align-items: center;
}
#telaSmart p {
    
    font-size: 1rem;
}
#telaSmart a{
    color: yellow;
    font-size: 0.8rem;
    cursor: pointer;
}
#relogioSmart{
    user-select: none;
    margin-top: 1rem;

}
#hSmart , #mSmart{
    
    font-size: 2.2rem;
}
#sSmart{
    font-size: 1.4rem;
}
#dataSmart{
    margin: 15px;
    user-select: none;
    color: magenta;
    display: inline-block;
    font-size: 1.7rem;
}
#semana{
    color: greenyellow;
    margin-right: 15px;
    font-size: 1.7rem;
}
#temperature{
    user-select: none;
    margin-top: 0.2rem;
    font-family: sans-serif;
    font-size: 1.3rem;
    color: white;  
    margin-right: 0.5rem;
}

.cidade{
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    margin-left: 20px;
}

#weather-data{
    text-align: center;
}
#weather-data h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}
#weather-data h2 i{
    font-size: 1rem;
}
#weather-data span{
    margin: 0.3rem;
    
}
#weather-data img{
    
    width: 2.3rem;
    height: 2.3rem;

}

#description-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0.2rem;
    color: white;
}


picture{
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
 #mensagem{
    color: black;
    font-size: 1.5rem;
    font-family: 'Gochi Hand', cursive;
    margin-bottom: 15px;
    
 }
img{
    width: 600px;
    border-radius: 10px;
    
}
@media(max-width:700px){
picture {
   border-color: #111;
   width: 100%;
   display: flex;
   margin-top: 30px;
   align-items: center;
   text-align: center;
   justify-content: center;
}
   

img{
    width: 340px;
    border-radius: 10px;
}
#mensagem { font-size: 1.1rem; text-align: center;}
#telaSmart{
    width: 350px;
}

}
footer p{
    font-size: 1.2rem;
    color: #fff;
}

footer{
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    background-color: #111;
    color: #fff;
    margin-top: 20px;
    height: 120px;
}
footer i{
    color: white;
    font-size: 2rem;
    text-align: center;
}
